<html ng-app="gameUi">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://github.com/ethereum/web3.js/blob/develop/dist/web3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="js/app.js"></script>

        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-controller="gameUiController as gameUi">

        <div id="toast-connect" role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" class="toast" style="position: absolute; top: 20px; right: 20px;">
            <div class="toast-header">
                <strong class="mr-auto"></strong>
                <small>Conected to host: <span ng-bind="gameUi.host"></span></small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Contract address:  <span ng-bind="gameUi.address"></span>
            </div>
        </div>
    
        <div ng-if="gameUi.step == 1">
            <div id="host-card" class="card margin-auto" style="width: 18rem;">
                <img src="./img/smart-contract.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <fieldset ng-disabled="gameUi.connecting">
                        <form action="" ng-submit="gameUi.connect($event, gameUi.host, gameUi.address)">
                            <div class="form-group">
                                <input class="form-control" type="text" name="host" id="host" ng-model="gameUi.host" placeholder="host">
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" name="address" id="address" ng-model="gameUi.address" placeholder="Contract Address">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Connect</button>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <div ng-if="gameUi.step == 2">
            <div id="host-card" class="card margin-auto" style="width: 18rem;">
                <img src="./img/player.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <fieldset ng-disabled="gameUi.subscribing">
                        <form action="" ng-submit="gameUi.subscribePlayer1($event, gameUi.playerName1, gameUi.playerBet1, gameUi.playerAmount1)">
                            <div class="form-group">
                                <input class="form-control" type="text" name="playerName1" id="playerName1" ng-model="gameUi.playerName1" placeholder="name">
                            </div>

                            <div class="form-group">
                                    <label>Choose if the EUR/USD price will go up or down</label>
                                <select class="form-control" type="text" name="playerBet1" id="playerBet1" ng-model="gameUi.playerBet1" placeholder="It will drop or rise?">
                                    <option id="1">It will go up</option>
                                    <option id="2">It will go down</option>
                                </select>
                            </div>

                            <div class="form-group">
                                    <input class="form-control" type="text" name="playerAmount1" id="playerAmount1" ng-model="gameUi.playerAmount1" placeholder="amount in ether">
                            </div>

                            <div class="form-group">
                                <button id="toberemoved" class="btn btn-primary btn-block" type="submit">Bet</button>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <div ng-if="gameUi.step == 3">
            <div class="row">
                <div class="col-sm-6">    
                    <div id="host-card" class="card margin-auto" style="width: 18rem;">
                        <img src="./img/player.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <fieldset ng-disabled="gameUi.subscribingPlayer1">
                                <form action="">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="playerName1" id="playerName1" ng-model="gameUi.playerName1" placeholder="name">
                                    </div>
        
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="playerBet1" id="playerBet1" ng-model="gameUi.playerBet1" placeholder="">
                                    </div>
        
                                    <div class="form-group">
                                            <input class="form-control" type="text" name="playerAmount1" id="playerAmount1" ng-model="gameUi.playerAmount1" placeholder="amount in ether">
                                    </div>
        
                                    <div class="form-group">
                                            <input class="form-control" type="text" name="playerAddress1" id="playerAddress1" ng-model="gameUi.playerAddress1" placeholder="">
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="host-card" class="card margin-auto" style="width: 18rem;">
                        <img src="./img/player.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <fieldset ng-disabled="gameUi.subscribingPlayer2">
                                <form action="" ng-submit="gameUi.subscribePlayer2($event, gameUi.playerName2, gameUi.playerBet2, gameUi.playerAmount2)">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="playerName2" id="playerName2" ng-model="gameUi.playerName2" placeholder="name">
                                    </div>
        
                                    <div class="form-group">
                                            <label>Choose if the EUR/USD price will go up or down</label>
                                        <select class="form-control" type="text" name="playerBet2" id="playerBet2" ng-model="gameUi.playerBet2" placeholder="It will drop or rise?">
                                            <option id="1">It will go up</option>
                                            <option id="2">It will go down</option>
                                        </select>
                                    </div>
        
                                    <div class="form-group">
                                            <input class="form-control" type="text" name="playerAmount2" id="playerAmount2" ng-model="gameUi.playerAmount2" placeholder="amount in ether">
                                    </div>
        
                                    <div class="form-group">
                                        <button id="toberemoved" class="btn btn-primary btn-block" type="submit">Bet</button>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="gameUi.step == 4">
                <div class="row">
                    <div class="col-sm-6">    
                        <div id="host-card" class="card margin-auto" style="width: 18rem;">
                            <img src="./img/player.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <fieldset ng-disabled="gameUi.subscribingPlayer1">
                                    <form action="">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="playerName1" id="playerName1" ng-model="gameUi.playerName1" placeholder="name">
                                        </div>
            
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="playerBet1" id="playerBet1" ng-model="gameUi.playerBet1" placeholder="">
                                        </div>
            
                                        <div class="form-group">
                                                <input class="form-control" type="text" name="playerAmount1" id="playerAmount1" ng-model="gameUi.playerAmount1" placeholder="amount in ether">
                                        </div>
            
                                        <div class="form-group">
                                                <input class="form-control" type="text" name="playerAddress1" id="playerAddress1" ng-model="gameUi.playerAddress1" placeholder="">
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="host-card" class="card margin-auto" style="width: 18rem;">
                            <img src="./img/player.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <fieldset ng-disabled="gameUi.subscribingPlayer2">
                                    <form action="">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="playerName2" id="playerName2" ng-model="gameUi.playerName2" placeholder="name">
                                        </div>
            
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="playerBet2" id="playerBet2" ng-model="gameUi.playerBet2" placeholder="">
                                        </div>
            
                                        <div class="form-group">
                                                <input class="form-control" type="text" name="playerAmount2" id="playerAmount2" ng-model="gameUi.playerAmount2" placeholder="amount in ether">
                                        </div>
            
                                        <div class="form-group">
                                                <input class="form-control" type="text" name="playerAddress2" id="playerAddress2" ng-model="gameUi.playerAddress2" placeholder="">
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
